@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ 
    scroll-behavior: smooth;
}
body{
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-main);
    line-height: 1.6;
}

header{
    position:sticky;
    top: 35px;
    z-index: 1000;
    width: 100%;
}

.header-container{
    max-width: 1050px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20px;
    margin: 0 auto;
}   
.logo img {
    height: 30px;
    width: auto;
}

.cv-wrapper{
    background-color: rgba(6, 49, 243, 0.7);    
    border-radius: 5px 5px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 4px 5px var(--nav-shadow);
    transition: 0.3s ease;
    display: flex; 
    width: 15%;
}
.cv-button{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    padding: 7px 15px;

}
.cv-button:hover{
    background-color: #002fff;
    transform: scale(1.01);
    border-radius: 6px;
}

#navbar-contents{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    margin-top: 3px;
    border: 1px solid  rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    background-color: var(--nav-bg);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 20px var(--nav-shadow);

}
nav a:first-child{
    font-weight: 700;
}
nav a{
    cursor: pointer;
    text-decoration: none;
    color:  var(--text-main);
    font-size: 18px;
    font-weight: 510;
    transition: transform 0.3s ease;
}
nav a:hover{  
    transform:translateY(-3px);
    color: #002fff;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 80px;
    height: auto;
    min-height: 100vh;
    padding: 0 10%;
}
#home-image img {
    height: 350px;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 10px 10px 2px rgb(182, 182, 227);
    transition: 0.3s ease ;
}
#home-image img:hover{
    transform: translate(-5px,-5px);
    box-shadow: 15px 15px 2px rgb(176, 176, 228);
}

.home-content h1{
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 10px;
    color: var(--text-main);
}
.home-content h1 .highlight{
    color:  #002fff;
}

.home-content h2{
    font-size: 28px;
    font-weight: 400;
    color: var(--text-main);
    margin-bottom: 20px;
}
.home-content p{
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    max-width: 500px;
}
.home-btn{
    display: flex;
    gap: 20px;
}
.btn-primary, .btn-secondary{
    display: inline-block;
    padding: 12px 28px ;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-primary{
    color: white;
    background-color:  #002fff;
    border: 1px solid #002fff
}
.btn-primary:hover{
    background-color: #0026cc;
    box-shadow: 0px 5px 15px  rgba(41, 105, 224, 0.3);
}
.btn-secondary{
    border:1px solid var(--border-color);
    background-color: transparent;;
    color: var(--text-main);
}
.btn-secondary:hover{
    background-color: var(--text-main);
    color: var(--bg-card);
}

section:not(#home){
    max-width: 900px;
    min-height: 80vh;
    background-color: var(--bg-card);
    margin: 60px auto;
    padding: 60px 40px ;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.02);
    scroll-margin-top: 100px;
}
#about p{
    text-align: justify;
    font-size: 20px;
    color: var(--text-main);
}
#about h3{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-main);
}
section h2{
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    color: var(--text-main);

}
section h2::after{
    content: '' ;
    display: block;
    width: 100%;
    height: 4px;
    background: #002fff;
    margin-top: 5px;
    border-radius: 2px;
}
section h3{
    margin:30px 0 20px 0;
}
.skills{
    display: grid;
    gap:15px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin-top: 30px;
}
.skill-card{
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--bg-skill);
    transition: 0.3s ease;
}
.skill-card:hover{
    background-color: var(--bg-skill);
    transform: scale(1.05);
}
.skill-card i{
    display: block;
    font-size: 24px;
    color: #002fff;
    margin-bottom: 5px;
}
.skill-card span{
    color:var(--text-main)
}
.project-wrap{
    height: auto;
    width: 100%;
    gap:50px;
    display: flex;

}
.project-container{
    background-color: #f4f3f1;
    border: 1px solid #ddd;
    height: auto;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 2px 4px 12px rgba(0, 47, 255, 0.05);
    transition: 0.3s ease;
    position: relative;
}
.project-container:hover {
    border-color: #002fff; 
    box-shadow: 0 15px 30px rgba(0, 47, 255, 0.12);
    transform: scale(1.01); 
}
.project-container a.project-link::after{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.project-image-wrap{
    height:auto;
    width: 100%;
    padding: 9px;
}
.project-image-wrap img{
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.project-content{
    padding-left: 9px;
    line-height: 1.5; 
    display: flex;
    flex-direction: column;
    height: auto;
}
.project-content h3{
    margin: 0;
    padding: 0;
    font-weight: 500;
}
.project-language{
    margin-top: 7px;
    padding-left:9px;
    padding-bottom: 10px;
    display: flex;
    gap:20px;
}
.project-language span {
    background: #002fff;
    border: 1px solid #002fff;
    background-color: transparent;
    color: #002fff;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    padding:2px 6px;
    border-radius: 2px;
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    padding: 60px 0;
    text-align: center;
}
.contact-container h2{
    color: white;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.contact-container p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.social-icons{
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.social-icons a{
    color: white;
    transition:0.3s ease;
}
.social-icons a:hover{
    transform:scale(1.05);
    color: #002fff;
}
.social-icons::before,
.social-icons::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);

}

.mobile-menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #002fff;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 260px;
    height: 100vh;
    background-color: var(--bg-card);
    z-index: 2000;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    box-shadow: -10px 0 30px rgba(0,0,0,0.15);
}

.mobile-menu.active {
    right: 0;
}

.close-icon {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.mobile-nav-links a {
    text-decoration: none;
    color: var(--text-main);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.mobile-cv-btn {
    margin-top: 20px;
    background-color: #002fff;
    color: white !important;
    text-align: center;
    padding: 12px 10px;
    
    border-radius: 8px;
    border-bottom: none !important;
}
:root {
    --bg-main: #f9fafc;       
    --bg-card: #ffffff;    
    --bg-skill: #f4f3f1;   
    --text-main: #1a1a1a; 
    --nav-bg: rgba(244, 243, 241, 0.8);
    --border-color: #000000;
    --nav-shadow:rgba(205, 203, 203, 0.5);
}

[data-theme="dark"] {
    --bg-main: #121212;     
    --bg-card: #1e1e1e;      
    --bg-skill: #2a2a2a;     
    --text-main: #e0e0e0;   
    --nav-bg: rgba(30, 30, 30, 0.8);
    --border-color: #ffffff;  
    --nav-shadow:rgba(0, 0, 0, 0.5);
}

.theme-switch-wrapper{
    position: fixed;
    left:25px;
    bottom: 25px;
    z-index: 1000;
}
.theme-btn {
    background: #002fff; 
    color: white;
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: transform 0.3s ease;
}
.theme-btn:hover{
    transform: scale(1.1);
}

@media (max-width: 717px) {
    #navbar-contents, .cv-wrapper {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }
    header{
    transition: transform 0.4s ease, opacity 0.4s ease; 
}
    .header-hidden {
    transform: translateY(-110%); 
    opacity: 0;
}
    .header-container {
        justify-content: space-between;
        padding: 0 30px;
        height: 70px;
    }

    #home {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding-bottom: 60px;
    }

    #home-image img {
        width: 200px;
        height: 250px;
    }

    .home-content h1 {
        font-size: 40px;
    }
    .home-btns {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;         
        gap: 15px;               
        margin-top: 20px;        
    }
    .btn-primary, .btn-secondary {
        white-space: nowrap;     
    }
    section:not(#home){
        scroll-margin-top: 0px;
    }
    #about {
        margin: 40px 20px;
        padding: 40px 20px;
    }
    #about h2 {
        font-size: 30px;
        text-align: center;
    }
    #about p{
        font-size: 17px;
    }
    #about h3{
        font-size: 22px;
    }
    #project h2{
        font-size: 30px;
    }
    .project-wrap{
        flex-direction: column;

    }
    .project-container{
        text-align: center;

    }
    .project-language {
        justify-content: center;
    }

    .contact-container{
        padding: 40px 20px;
    }
    .contact-container h2{
        font-size: 28px;
        letter-spacing: 1px;
    }
    .social-icons{
        font-size: 20px;
        gap: 20px;
    }
    .social-icons::before,
    .social-icons::after {
        width: 30px; 
    }
    .theme-switch-wrapper{
       bottom: 50px;
    }

}
