@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ 
    scroll-behavior: smooth;
}
body{
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: rgb(249, 250, 252);
    line-height: 1.6;
}

header{
    position:sticky;
    top: 35px;
    z-index: 1000;
    width: 100%;
}
.header-container{
    max-width: 1050px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 0;
    margin: 0 auto;
}
#navbar-container{
}

.cv-button{

}
.logo img {
    height: 30px;
    width: 50px;
    text-align: left;

    display: flex;
}
#navbar-contents{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    margin-top: 3px;
    border: 1px solid  rgb(205, 203, 203);
    border-radius: 30px;
    background-color: rgba(244, 243, 241,0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px rgb(205, 203, 203);

}
nav a:first-child{
    font-weight: 700;
}
nav a{
    cursor: pointer;
    text-decoration: none;
    color:  rgb(13, 12, 12);
    font-size: 18px;
    font-weight: 510;
    transition: transform 0.3s ease;
}
nav a:hover{  
    transform:translateY(-3px);
    color: #002fff;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 80px;
    height: 100vh;
    padding: 0 10%;
}
#home-image img {
    height: 350px;
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 10px 10px 2px rgb(182, 182, 227);
    transition: 0.3s ease ;
}
#home-image img:hover{
    transform: translate(-5px,-5px);
    box-shadow: 15px 15px 2px rgb(176, 176, 228);
}

.home-content h1{
    font-size: 75px;
    line-height: 1.1;
    margin-bottom: 10px;
}
.home-content h1 .highlight{
    color:  #002fff;
}

.home-content h2{
    font-size: 28px;
    font-weight: 400;
    color: #555;
    margin-bottom: 20px;
}
.home-content p{
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    max-width: 500px;
}
.home-btn{
    display: flex;
    gap: 20px;
}
.btn-primary, .btn-secondary{
    display: inline-block;
    padding: 12px 28px ;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-primary{
    color: white;
    background-color:  #002fff;
    border: 1px solid #002fff
}
.btn-primary:hover{
    background-color: #0026cc;
    box-shadow: 0px 5px 15px  rgba(41, 105, 224, 0.3);
}
.btn-secondary{
    border:1px solid black;
    background-color: transparent;;
    color: black;
}
.btn-secondary:hover{
    background-color: black;
    color: white;
}

section:not(#home):not(#contacts){
    max-width: 900px;
    min-height: 80vh;
    background-color: white;
    margin: 60px auto;
    padding: 60px 40px ;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.02);
    scroll-margin-top: 100px;
}

section h2{
    font-size: 32px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;

}
section h2::after{
    content: '' ;
    display: block;
    width: 100%;
    height: 4px;
    background: #002fff;
    margin-top: 5px;
    border-radius: 2px;
}
section h3{
    margin:30px 0 20px 0;
}
.skills{
    display: grid;
    gap:15px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin-top: 30px;
}
.skill-card{

    padding: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #f4f3f1;
    transition: 0.3s ease;
}
.skill-card:hover{
    background-color: #e9e8e6;
    transform: scale(1.05);
}
.skill-card i{
    display: block;
    font-size: 24px;
    color: #002fff;
    margin-bottom: 5px;
}






#footer{
    text-align: center;
    background-color:  rgb(244, 243, 241);
    
}

#name{
    display: flex;
    justify-content:left;
}